.container-api{
    width: 95%;

    height: calc(100% + 5%);
   
    margin: 2.5%;
    background-color: rgb(15, 16, 17);
    background-size: cover;

}
.p-Api{
    margin: 5%;
    color: azure;
    /* padding-bottom: 2%; */
}
.p-Api-songName{
    color: #7f1ce1;
    
}
.lastSong{
    padding-bottom: 10%;
}
.h3-Api{
    margin: 5%;
    color: azure;
    text-align: center;
}
.col-4-Api{
    margin: 5%;
    align-items: center;
    text-align: center;
}
.info-text{
    color: azure;
    text-align: center;
}
.row-Api{
    top: 20%;
}
.card-Api{

    width: 20rem;
    background-color: rgb(0, 0, 0);
}